:root {
	//main color
	--btn-primary: #41a470;
	--btn-primary-v2: #41a470;
	--color_font_wite_wite: #ffffff;
	--color_icon_black_wite: #000000;
	--color_font_grey-grey_1: #cccad8;
	--color_font_grey_grey_2: #897f99;
	--color_font_grey_grey_3: #bab6c3;
	--outline: rgba(114, 91, 111, 1);
	--bg-color-overlay: #ffffff;
	--reg-color_overlay: #f8f5ff;
	--color_font_black_wite: #000000;
	--color_font_namber: #9a8fb0;
	--icon-navigation-gold: #524175;
	--icon-navigation-silver: #c5c0b6;
	--color_icon_black_pur: #161616;
	--color_button_font_burgundy: #251d35;
	--color_bottomsheet: #ffffff;
	--color_button_font_bottomsheet: #723886;
	--color_font_battomsheet_tooltip: #897f99;
	--color_icon_blue_grey: #273167;
	--color_font_currency: #524175;
	--color_radiobutton_font: #723886;
	--color_button_stroke_grey: #b1adb7;
	--color_icon_wite_wite: #ffffff;
	--color_font_pur_pur: #897f99;
	--color_boolean_black: #000000;
	--color_button_font_black: #000000;
	--color_boolean_pur: #723886;
	--color-black-green: var(--primary);
	--color_overlay: #ffffff;
	--color-btn-outline: #725b6f;
	--color_field_bottomsheet: #eeeef7;
	--blackout: rgba(1, 2, 4, 0.25);
	--scroll-bg: #eeeef7;
	--scroll-filled: #d2cbdd;
	--color_icon_close: #000000;
	--color-icon-white-gold: #ffffff;
	//and main color
	--gray-100: #e9ebec;
	--gray-150: #e4e6e8;
	--gray-200: #d8e0f0;
	--gray-450: #91929e;
	--gray-465: #707078;
	--gray-470: #696969;
	--blue-100: #f4f9fd;
	--black-100: #1c1c1c;
	--black-300: #454545;
	--logo: rgb(208, 224, 227);
	--warning-000: rgb(255, 112, 112);

	// new
	--dark-gray: #757484;
	--red: #d81d3f;
	--red-2: #f8e6ee;
	--red-3: #f9e4ee;
	--red-4: #faeeef;
	--red-5: #ed8282;
	--red-6: #c68484;
	--orange: #ff5000;
	--orange-2: #ff6e33;
	--orange-3: #ff9b6f;
	--orange-4: #f3dfd9;
	--orange-light: #fff4f0;
	--yellow: rgb(154, 154, 49);
	--green-light: #37bb5c;
	--green: #1bd950;
	--green-2: #188737;
	--green-3: #d2edda;
	--green-4: #e8f3eb;
	--green-5: #e8f7f2;
	--green-6: #d8e7e7;
	--green-7: #0acf83;
	--green-8: #4e9f74;
	--green-9: #7eae95;
	--yellow-4: #f3f3e8;
	--purple: #723886;
	--purple-2: #704f7a;
	--purple-3: #d2cbdd;
	--purple-4: #a898af;
	--primary: rgba(78, 159, 116, 1);
	--primary-2: #41a470;
	--pink: #efd6df;
	--crimson: #b94b74;
	--dark-blue: #2b2f57;
	--dark-blue-2: #2e3749;
	--gold: #d6c69b;
	--gold_v2: #97756c;
	--gray: #ebeef3;
	--dark-2: #d2d3df;
	--gray-2: #d2d3df;
	--gray-3: #0f08361a;
	--gray-4: rgba(204, 202, 216, 1);
	--gray-5: #8c8a8e;
	--gray-6: #897f99;
	--gray-7: #161616;
	--gray-8: #bab6c3;
	--gray-9: #b1adb7;
	--gray-10: #f2f1f2;
	--gray-11: #cccad8;
	--gray-12: #e4e4e4;
	--violet: #273167;
	--violet-2: #524175;
	--violet-3: #9a8fb0;
	--violet-4: #251d35;
	--violet-5: #d5cae5;
	--violet-6: #eeeef7;
	--violet-7: #a094b8;
	--violet-light: #cbb8ed;
	--violet-gray: #eeefff;
	--blue-dark: #40207f;
	--blue: #5000ff;
	--blue-2: #763fd6;
	--blue-3: #434872;
	--blue-4: #e4e4f3;
	--blue-5: #f1f0f5;
	--blue-6: #dcdcec;
	--blue-7: #f2f2f3;
	--blue-8: #f2ecff;
	--blue-9: #ae9fcf;
	--blue-10: #a18ad2;
	--blue-11: #4269c2;
	--blue-12: #e8e5ed;
	--blue-light: #e1e4f3;
	--blue-light-2: #e7e4f0;
	--blue-light-4: #e6dafa;
	--blue-light-5: #dad3f2;
	--blue-light-6: #f4f3f9;
	--blue-light-7: #e0d9ed;
	--blue-light-8: #e0e0ec;
	--blue-light-9: #eaebef;
	--blue-light-10: #9e90bc;
	--blue-light-11: #f2ecff;
	--blue-light-12: #f8f8fc;
	--blue-light-13: #e5e4fc;
	--blue-light-14: #e5e7f3;
	--blue-light-15: #f3f4fb;
	--lilac: #f2f3fc;
	--black: #000000;
	--white: #ffff;
	--box-shadow-default: #222a6f12;
	--box-shadow-2: #b8c8e039;
	--box-shadow-active: #222a6f54;
	--box-shadow-dark: #160a2b;
	--disabled: #8a8a8a;
	--message-incoming: #f1edf7;
	--message-outgoing: #edf2f7;
	--table-default-header: #f8fafd;
}

[data-theme='dark'] {
	--btn-primary: #41a470;
	--btn-primary-v2: #9d834c;
	--color_font_wite_wite: #ffffff;
	--color_icon_black_wite: #ffffff;
	--color_font_grey-grey_1: #cccad8;
	--color_font_grey_grey_2: #897f99;
	--color_font_grey_grey_3: #bab6c3;
	--primary: rgba(78, 159, 116, 1);
	--outline: #c1a875;
	--bg-color-overlay: #16161f;
	--reg-color_overlay: #1b1c29;
	--color_font_black_wite: #ffffff;
	--color_font_namber: #9a8fb0;
	--icon-navigation-gold: #9d834c;
	--icon-navigation-silver: #c5c0b6;
	--color_icon_black_pur: #d5cae5;
	--color_button_font_burgundy: #9a8fb0;
	--color_bottomsheet: #0d0d15;
	--color_button_font_bottomsheet: #9a8fb0;
	--color_font_battomsheet_tooltip: #897f99;
	--color_font_currency: #ffffff;
	--color_icon_blue_grey: #8c8a8e;
	--color_radiobutton_font: #9a8fb0;
	--color_button_stroke_grey: #b1adb7;
	--color_icon_wite_wite: #ffffff;
	--color_font_pur_pur: #897f99;
	--color_boolean_black: #d2cbdd;
	--color_button_font_black: #9a8fb0;
	--color_boolean_pur: #d2cbdd;
	--color-black-green: rgba(58, 50, 69, 0.3);
	--color_overlay: #16161f;
	--color-btn-outline: #ffffff;
	--color_field_bottomsheet: #eeeef7;
	--blackout: rgba(48, 44, 56, 0.4);
	--scroll-bg: #3a3245b2;
	--scroll-filled: #897f9980;
	--color_icon_close: #aa8c4f;
	--color-icon-white-gold: #aa8c4f;
}
